*{
    margin: 0;
    padding: 0;
}
body{
    background: url(img/montagne.jpg);
}
.timer{
    position: absolute;
    font-size: 50px;
    bottom: 80%;
    left: 10%;
}
.steve{
    position: absolute;
    background-image: url(img/steve.png);
    height: 178px;
    width: 46px;
    bottom: 21%;
    left: 5%;   
}
.ground{
    position: absolute;
    background: #000;
    height: 10px;
    width: 100%;
    bottom: 20%;
}
@keyframes jump {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(0);
    }
}