*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../img/background/montagne.jpg);
}
.timer{
    position: absolute;
    font-size: 50px;
    bottom: 80%;
    left: 10%;
}
.steve{
    position: absolute;
    background-image: url(../img/entity/steve.png);
    height: 178px;
    width: 46px;
    bottom: 21%;
    left: 5%;   
}
.ground{
    position: absolute;
    background: #000;
    height: 10px;
    width: 100%;
    bottom: 20%;
}
@keyframes jump {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-300px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes attack {
    0%{
        transform: translateX(0)
    }
    100%{
        left: 2%;
    }
}





.gameOver{
    position: absolute;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: calc(50% - 354px/2);
    top: calc(50% - 161px/2);
    padding: 5px;
    visibility: hidden ;
}
.text{
    color: white;
    font-size: 40px;
}
.allButton{
    padding: 5px;
}
button{
    border: 1px solid #000;
    background-color: #555555;
    color: white ;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    transition: 1s;
    transform: scale(1.1);
}
.score{
    font-size: 30px;
    color: white;
    padding: 5px;
}